@model IEnumerable<BorderlandsStore.DATA.EF.Models.Weapon>

@{
    ViewData["Title"] = "Weapons";
}
<hr />
<h1 class="text-white text-center">@ViewData["Title"]</h1>
<hr />
<p class="text-end">
    @if (User.IsInRole("Admin"))
    {
        <span>
            <a asp-action="Create">Create New Weapon</a> |
        </span>
    }
    <a asp-action="TiledProducts">Tiled View</a>
</p>


<table class="table bg-black bg-opacity-50 text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeaponImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Element)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.WeaponId">
                @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.WeaponImage)*@
                <img src="~/assets/img/Weapon_Pics/t_@item.WeaponImage" class="img-fluid img-thumbnail" style="max-height: 100px;" alt="@item.Description" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Category1)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Element.ElementType)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Manufacturer1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WeaponId">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.WeaponId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.WeaponId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {

    <script>
        let table = new DataTable('.table');
    </script>

  }
