@model IEnumerable<BorderlandsStore.DATA.EF.Models.Weapon>

@{
    ViewData["Title"] = "Tiled Products";
}
<hr />
<h1 class="text-white text-center">Weapons</h1>

<p class="text-center">
    <a asp-action="Create">Create New Weapon</a> |
    <a asp-action="Index">List View</a>
</p>
<hr />
<section class="product_section layout_padding">
    <div class="container">
        @*<div class="heading_container heading_center">
            <h2>
                Our <span>products</span>
            </h2>
        </div>*@

        @*<p align="center">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Create">Add New Gadget</a>  <span>|</span>
            }
            <a asp-action="Index">Table View</a>
        </p>*@

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-4 text-white">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a asp-action="Details" asp-asp-controller="Products" asp-route-id="@item.WeaponId" class="option1">
                                    @item.Name
                                </a>
                                <a href="" class="option2">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">
                            <img src="~/assets/img/Borderlands Store Pics/Veritas.JPG" alt="@item.Name">
                        </div>
                        <div class="detail-box">
                            <h5>
                                @item.Name
                            </h5>
                            <h6>
                                @Html.DisplayFor(modelItme => item.Price)
                            </h6>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section>










<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeaponImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Element)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Category1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Element.ElementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WeaponId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WeaponId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WeaponId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
